#s-1652f85f-b47a-416e-be6a-a097ac96b4b9 #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1652f85f-b47a-416e-be6a-a097ac96b4b9 #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1652f85f-b47a-416e-be6a-a097ac96b4b9 #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1652f85f-b47a-416e-be6a-a097ac96b4b9 #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1652f85f-b47a-416e-be6a-a097ac96b4b9 #s-Black-cover {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=24) ;
  filter: alpha(opacity=24) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1652f85f-b47a-416e-be6a-a097ac96b4b9 #s-Rectangle_115 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1652f85f-b47a-416e-be6a-a097ac96b4b9 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1652f85f-b47a-416e-be6a-a097ac96b4b9 #s-drop-down {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1652f85f-b47a-416e-be6a-a097ac96b4b9 #s-Label_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1652f85f-b47a-416e-be6a-a097ac96b4b9 #s-Label_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1652f85f-b47a-416e-be6a-a097ac96b4b9 #s-Bg_status_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1652f85f-b47a-416e-be6a-a097ac96b4b9 #s-Two-line-item_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1652f85f-b47a-416e-be6a-a097ac96b4b9 #s-Image_75 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1652f85f-b47a-416e-be6a-a097ac96b4b9 #s-Two-line-item_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1652f85f-b47a-416e-be6a-a097ac96b4b9 #s-Image_103 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1652f85f-b47a-416e-be6a-a097ac96b4b9 #s-Two-line-item_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1652f85f-b47a-416e-be6a-a097ac96b4b9 #s-Image_140 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1652f85f-b47a-416e-be6a-a097ac96b4b9 #s-Two-line-item_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1652f85f-b47a-416e-be6a-a097ac96b4b9 #s-Two-line-item_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1652f85f-b47a-416e-be6a-a097ac96b4b9 #s-Two-line-item_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1652f85f-b47a-416e-be6a-a097ac96b4b9 #s-Image_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1652f85f-b47a-416e-be6a-a097ac96b4b9 #s-Bg {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75) ;
  filter: alpha(opacity=75) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1652f85f-b47a-416e-be6a-a097ac96b4b9 #s-Text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1652f85f-b47a-416e-be6a-a097ac96b4b9 #s-menu {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1652f85f-b47a-416e-be6a-a097ac96b4b9 #s-more-vertical {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1652f85f-b47a-416e-be6a-a097ac96b4b9 #s-Share {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1652f85f-b47a-416e-be6a-a097ac96b4b9 #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1652f85f-b47a-416e-be6a-a097ac96b4b9 #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1652f85f-b47a-416e-be6a-a097ac96b4b9 #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1652f85f-b47a-416e-be6a-a097ac96b4b9 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1652f85f-b47a-416e-be6a-a097ac96b4b9 #s-star {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1652f85f-b47a-416e-be6a-a097ac96b4b9 #s-Square_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1652f85f-b47a-416e-be6a-a097ac96b4b9 #s-info_Text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1652f85f-b47a-416e-be6a-a097ac96b4b9 #s-Circle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1652f85f-b47a-416e-be6a-a097ac96b4b9 #s-citta {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1652f85f-b47a-416e-be6a-a097ac96b4b9 #s-Triangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1652f85f-b47a-416e-be6a-a097ac96b4b9 #s-IMG_Info {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85) ;
  filter: alpha(opacity=85) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1652f85f-b47a-416e-be6a-a097ac96b4b9 #s-IMG_Intr {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85) ;
  filter: alpha(opacity=85) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1652f85f-b47a-416e-be6a-a097ac96b4b9 #s-IMG_Bar {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85) ;
  filter: alpha(opacity=85) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1652f85f-b47a-416e-be6a-a097ac96b4b9 #s-IMG_museo {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85) ;
  filter: alpha(opacity=85) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1652f85f-b47a-416e-be6a-a097ac96b4b9 #s-Bar_Locali_Text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1652f85f-b47a-416e-be6a-a097ac96b4b9 #s-Cultura_Text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1652f85f-b47a-416e-be6a-a097ac96b4b9 #s-Intrattenimento_Text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1652f85f-b47a-416e-be6a-a097ac96b4b9 #s-link_info {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1652f85f-b47a-416e-be6a-a097ac96b4b9 #s-link_intrattenimento {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1652f85f-b47a-416e-be6a-a097ac96b4b9 #s-link_bar {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1652f85f-b47a-416e-be6a-a097ac96b4b9 #s-link_cultura {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-1652f85f-b47a-416e-be6a-a097ac96b4b9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}