#s-3e2fa044-dd1e-4b90-9c62-a1dc4787e647 #s-BgWhite {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e2fa044-dd1e-4b90-9c62-a1dc4787e647 #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e2fa044-dd1e-4b90-9c62-a1dc4787e647 #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e2fa044-dd1e-4b90-9c62-a1dc4787e647 #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e2fa044-dd1e-4b90-9c62-a1dc4787e647 #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e2fa044-dd1e-4b90-9c62-a1dc4787e647 #s-Rectangle_115 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e2fa044-dd1e-4b90-9c62-a1dc4787e647 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e2fa044-dd1e-4b90-9c62-a1dc4787e647 #s-drop-down {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e2fa044-dd1e-4b90-9c62-a1dc4787e647 #s-Label_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e2fa044-dd1e-4b90-9c62-a1dc4787e647 #s-Label_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e2fa044-dd1e-4b90-9c62-a1dc4787e647 #s-Bg_status_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e2fa044-dd1e-4b90-9c62-a1dc4787e647 #s-Two-line-item_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e2fa044-dd1e-4b90-9c62-a1dc4787e647 #s-Image_75 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e2fa044-dd1e-4b90-9c62-a1dc4787e647 #s-Two-line-item_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e2fa044-dd1e-4b90-9c62-a1dc4787e647 #s-Image_103 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e2fa044-dd1e-4b90-9c62-a1dc4787e647 #s-Two-line-item_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e2fa044-dd1e-4b90-9c62-a1dc4787e647 #s-Image_140 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e2fa044-dd1e-4b90-9c62-a1dc4787e647 #s-Two-line-item_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e2fa044-dd1e-4b90-9c62-a1dc4787e647 #s-Two-line-item_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e2fa044-dd1e-4b90-9c62-a1dc4787e647 #s-Two-line-item_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e2fa044-dd1e-4b90-9c62-a1dc4787e647 #s-Image_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e2fa044-dd1e-4b90-9c62-a1dc4787e647 #s-Black-cover {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=24) ;
  filter: alpha(opacity=24) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e2fa044-dd1e-4b90-9c62-a1dc4787e647 #s-Bg {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75) ;
  filter: alpha(opacity=75) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e2fa044-dd1e-4b90-9c62-a1dc4787e647 #s-Text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e2fa044-dd1e-4b90-9c62-a1dc4787e647 #s-menu {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e2fa044-dd1e-4b90-9c62-a1dc4787e647 #s-more-vertical {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e2fa044-dd1e-4b90-9c62-a1dc4787e647 #s-Search {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e2fa044-dd1e-4b90-9c62-a1dc4787e647 #s-Share {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e2fa044-dd1e-4b90-9c62-a1dc4787e647 #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e2fa044-dd1e-4b90-9c62-a1dc4787e647 #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e2fa044-dd1e-4b90-9c62-a1dc4787e647 #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e2fa044-dd1e-4b90-9c62-a1dc4787e647 #s-Text_taxi {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e2fa044-dd1e-4b90-9c62-a1dc4787e647 #s-Square_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e2fa044-dd1e-4b90-9c62-a1dc4787e647 #s-Circle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e2fa044-dd1e-4b90-9c62-a1dc4787e647 #s-Triangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e2fa044-dd1e-4b90-9c62-a1dc4787e647 #s-img_polizia {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e2fa044-dd1e-4b90-9c62-a1dc4787e647 #s-Nome_citta {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e2fa044-dd1e-4b90-9c62-a1dc4787e647 #s-info_utili {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e2fa044-dd1e-4b90-9c62-a1dc4787e647 #s-img_ospedale {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e2fa044-dd1e-4b90-9c62-a1dc4787e647 #s-img_pompieri {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e2fa044-dd1e-4b90-9c62-a1dc4787e647 #s-img_trasporti {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e2fa044-dd1e-4b90-9c62-a1dc4787e647 #s-img_taxi {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e2fa044-dd1e-4b90-9c62-a1dc4787e647 #s-Text_POLIZIA {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e2fa044-dd1e-4b90-9c62-a1dc4787e647 #s-Text_num_polizia {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e2fa044-dd1e-4b90-9c62-a1dc4787e647 #s-Text_ospedale {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e2fa044-dd1e-4b90-9c62-a1dc4787e647 #s-Text_num_ospedale {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e2fa044-dd1e-4b90-9c62-a1dc4787e647 #s-Text_pompieri {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e2fa044-dd1e-4b90-9c62-a1dc4787e647 #s-Text_num_pompieri {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e2fa044-dd1e-4b90-9c62-a1dc4787e647 #s-Text_trasporti {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e2fa044-dd1e-4b90-9c62-a1dc4787e647 #s-Text_taxi_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-3e2fa044-dd1e-4b90-9c62-a1dc4787e647 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}