#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-BgWhite {
  -ms-transform: rotate(0.0deg);
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Softkeys-bg {
  -ms-transform: rotate(0.0deg);
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Square {
  -ms-transform: rotate(0.0deg);
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Circle {
  -ms-transform: rotate(0.0deg);
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Triangle {
  -ms-transform: rotate(0.0deg);
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Black-cover {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=24);
  filter: alpha(opacity=24);
  -ms-transform: rotate(0.0deg);
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Bg {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  filter: alpha(opacity=75);
  -ms-transform: rotate(0.0deg);
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Panel_7 {
  border-radius: 0px 0px 0px 0px;
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Panel_7 > .valign {
  vertical-align: top;
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Rectangle_115 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Ellipse_1 {
  -ms-transform: rotate(0.0deg);
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-drop-down {
  -ms-transform: rotate(0.0deg);
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Label_54 {
  -ms-transform: rotate(0.0deg);
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Label_55 {
  -ms-transform: rotate(0.0deg);
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Bg_status_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Two-line-item_35 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Image_75 {
  -ms-transform: rotate(0.0deg);
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Two-line-item_12 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Image_103 {
  -ms-transform: rotate(0.0deg);
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Two-line-item_28 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Image_140 {
  -ms-transform: rotate(0.0deg);
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Two-line-item_41 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Two-line-item_42 {
  -ms-transform: rotate(0.0deg);
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Two-line-item_44 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Image_22 {
  -ms-transform: rotate(0.0deg);
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Text {
  -ms-transform: rotate(0.0deg);
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-menu {
  -ms-transform: rotate(0.0deg);
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-more-vertical {
  -ms-transform: rotate(0.0deg);
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Search {
  -ms-transform: rotate(0.0deg);
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Share {
  -ms-transform: rotate(0.0deg);
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-hour {
  -ms-transform: rotate(0.0deg);
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-signals {
  -ms-transform: rotate(0.0deg);
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Nome_citta {
  -ms-transform: rotate(0.0deg);
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
  -ms-transform: rotate(0.0deg);
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-info_utili {
  -ms-transform: rotate(0.0deg);
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
  -ms-transform: rotate(0.0deg);
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
  -ms-transform: rotate(0.0deg);
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}