#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-BgWhite {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Black-cover {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=24) ;
  filter: alpha(opacity=24) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Bg {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75) ;
  filter: alpha(opacity=75) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Rectangle_115 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-drop-down {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Label_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Label_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Bg_status_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Two-line-item_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Image_75 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Two-line-item_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Image_103 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Two-line-item_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Image_140 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Two-line-item_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Two-line-item_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Two-line-item_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Image_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-menu {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-more-vertical {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Search {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Share {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Nome_citta {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-info_utili {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-48d15b0f-d099-4fb4-96a0-ca5fe8b6d91d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}