#s-61a065f7-03bf-406b-865e-1c7c3a43de1d #s-Softkeys-bg {
  -ms-transform: rotate(0.0deg);
}
#s-61a065f7-03bf-406b-865e-1c7c3a43de1d #s-Square {
  -ms-transform: rotate(0.0deg);
}
#s-61a065f7-03bf-406b-865e-1c7c3a43de1d #s-Circle {
  -ms-transform: rotate(0.0deg);
}
#s-61a065f7-03bf-406b-865e-1c7c3a43de1d #s-Triangle {
  -ms-transform: rotate(0.0deg);
}
#s-61a065f7-03bf-406b-865e-1c7c3a43de1d #s-Black-cover {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=24);
  filter: alpha(opacity=24);
  -ms-transform: rotate(0.0deg);
}
#s-61a065f7-03bf-406b-865e-1c7c3a43de1d #s-Panel_7 {
  border-radius: 0px 0px 0px 0px;
}
#s-61a065f7-03bf-406b-865e-1c7c3a43de1d #s-Panel_7 > .valign {
  vertical-align: top;
}
#s-61a065f7-03bf-406b-865e-1c7c3a43de1d #s-Rectangle_115 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-61a065f7-03bf-406b-865e-1c7c3a43de1d #s-Ellipse_1 {
  -ms-transform: rotate(0.0deg);
}
#s-61a065f7-03bf-406b-865e-1c7c3a43de1d #s-drop-down {
  -ms-transform: rotate(0.0deg);
}
#s-61a065f7-03bf-406b-865e-1c7c3a43de1d #s-Label_54 {
  -ms-transform: rotate(0.0deg);
}
#s-61a065f7-03bf-406b-865e-1c7c3a43de1d #s-Label_55 {
  -ms-transform: rotate(0.0deg);
}
#s-61a065f7-03bf-406b-865e-1c7c3a43de1d #s-Bg_status_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-61a065f7-03bf-406b-865e-1c7c3a43de1d #s-Two-line-item_35 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-61a065f7-03bf-406b-865e-1c7c3a43de1d #s-Image_75 {
  -ms-transform: rotate(0.0deg);
}
#s-61a065f7-03bf-406b-865e-1c7c3a43de1d #s-Two-line-item_12 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-61a065f7-03bf-406b-865e-1c7c3a43de1d #s-Image_103 {
  -ms-transform: rotate(0.0deg);
}
#s-61a065f7-03bf-406b-865e-1c7c3a43de1d #s-Two-line-item_28 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-61a065f7-03bf-406b-865e-1c7c3a43de1d #s-Image_140 {
  -ms-transform: rotate(0.0deg);
}
#s-61a065f7-03bf-406b-865e-1c7c3a43de1d #s-Two-line-item_41 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-61a065f7-03bf-406b-865e-1c7c3a43de1d #s-Two-line-item_42 {
  -ms-transform: rotate(0.0deg);
}
#s-61a065f7-03bf-406b-865e-1c7c3a43de1d #s-Two-line-item_44 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-61a065f7-03bf-406b-865e-1c7c3a43de1d #s-Image_22 {
  -ms-transform: rotate(0.0deg);
}
#s-61a065f7-03bf-406b-865e-1c7c3a43de1d #s-Bg {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  filter: alpha(opacity=75);
  -ms-transform: rotate(0.0deg);
}
#s-61a065f7-03bf-406b-865e-1c7c3a43de1d #s-Text {
  -ms-transform: rotate(0.0deg);
}
#s-61a065f7-03bf-406b-865e-1c7c3a43de1d #s-menu {
  -ms-transform: rotate(0.0deg);
}
#s-61a065f7-03bf-406b-865e-1c7c3a43de1d #s-more-vertical {
  -ms-transform: rotate(0.0deg);
}
#s-61a065f7-03bf-406b-865e-1c7c3a43de1d #s-Share {
  -ms-transform: rotate(0.0deg);
}
#s-61a065f7-03bf-406b-865e-1c7c3a43de1d #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-61a065f7-03bf-406b-865e-1c7c3a43de1d #s-hour {
  -ms-transform: rotate(0.0deg);
}
#s-61a065f7-03bf-406b-865e-1c7c3a43de1d #s-signals {
  -ms-transform: rotate(0.0deg);
}
#s-61a065f7-03bf-406b-865e-1c7c3a43de1d #s-Image {
  -ms-transform: rotate(0.0deg);
}
#s-61a065f7-03bf-406b-865e-1c7c3a43de1d #s-star {
  -ms-transform: rotate(0.0deg);
}
#s-61a065f7-03bf-406b-865e-1c7c3a43de1d #s-Square_1 {
  -ms-transform: rotate(0.0deg);
}
#s-61a065f7-03bf-406b-865e-1c7c3a43de1d #s-info_Text {
  -ms-transform: rotate(0.0deg);
}
#s-61a065f7-03bf-406b-865e-1c7c3a43de1d #s-Circle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-61a065f7-03bf-406b-865e-1c7c3a43de1d #s-citta {
  -ms-transform: rotate(0.0deg);
}
#s-61a065f7-03bf-406b-865e-1c7c3a43de1d #s-Triangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-61a065f7-03bf-406b-865e-1c7c3a43de1d #s-IMG_Info {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  filter: alpha(opacity=85);
}
#s-61a065f7-03bf-406b-865e-1c7c3a43de1d #s-IMG_Intr {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  filter: alpha(opacity=85);
}
#s-61a065f7-03bf-406b-865e-1c7c3a43de1d #s-IMG_Bar {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  filter: alpha(opacity=85);
}
#s-61a065f7-03bf-406b-865e-1c7c3a43de1d #s-IMG_museo {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  filter: alpha(opacity=85);
}
#s-61a065f7-03bf-406b-865e-1c7c3a43de1d #s-Bar_Locali_Text {
  -ms-transform: rotate(0.0deg);
}
#s-61a065f7-03bf-406b-865e-1c7c3a43de1d #s-Cultura_Text {
  -ms-transform: rotate(0.0deg);
}
#s-61a065f7-03bf-406b-865e-1c7c3a43de1d #s-Intrattenimento_Text {
  -ms-transform: rotate(0.0deg);
}
#s-61a065f7-03bf-406b-865e-1c7c3a43de1d #s-link_info {
  -ms-transform: rotate(0.0deg);
}
#s-61a065f7-03bf-406b-865e-1c7c3a43de1d #s-link_intrattenimento {
  -ms-transform: rotate(0.0deg);
}
#s-61a065f7-03bf-406b-865e-1c7c3a43de1d #s-link_bar {
  -ms-transform: rotate(0.0deg);
}
#s-61a065f7-03bf-406b-865e-1c7c3a43de1d #s-link_cultura {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-61a065f7-03bf-406b-865e-1c7c3a43de1d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}