#s-9fafe05f-ac6b-4589-925d-0ff48e28fd6a #s-BgWhite {
  -ms-transform: rotate(0.0deg);
}
#s-9fafe05f-ac6b-4589-925d-0ff48e28fd6a #s-Softkeys-bg {
  -ms-transform: rotate(0.0deg);
}
#s-9fafe05f-ac6b-4589-925d-0ff48e28fd6a #s-Square {
  -ms-transform: rotate(0.0deg);
}
#s-9fafe05f-ac6b-4589-925d-0ff48e28fd6a #s-Circle {
  -ms-transform: rotate(0.0deg);
}
#s-9fafe05f-ac6b-4589-925d-0ff48e28fd6a #s-Triangle {
  -ms-transform: rotate(0.0deg);
}
#s-9fafe05f-ac6b-4589-925d-0ff48e28fd6a #s-Panel_7 {
  border-radius: 0px 0px 0px 0px;
}
#s-9fafe05f-ac6b-4589-925d-0ff48e28fd6a #s-Panel_7 > .valign {
  vertical-align: top;
}
#s-9fafe05f-ac6b-4589-925d-0ff48e28fd6a #s-Rectangle_115 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-9fafe05f-ac6b-4589-925d-0ff48e28fd6a #s-Ellipse_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9fafe05f-ac6b-4589-925d-0ff48e28fd6a #s-drop-down {
  -ms-transform: rotate(0.0deg);
}
#s-9fafe05f-ac6b-4589-925d-0ff48e28fd6a #s-Label_54 {
  -ms-transform: rotate(0.0deg);
}
#s-9fafe05f-ac6b-4589-925d-0ff48e28fd6a #s-Label_55 {
  -ms-transform: rotate(0.0deg);
}
#s-9fafe05f-ac6b-4589-925d-0ff48e28fd6a #s-Bg_status_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-9fafe05f-ac6b-4589-925d-0ff48e28fd6a #s-Two-line-item_35 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-9fafe05f-ac6b-4589-925d-0ff48e28fd6a #s-Image_75 {
  -ms-transform: rotate(0.0deg);
}
#s-9fafe05f-ac6b-4589-925d-0ff48e28fd6a #s-Two-line-item_12 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-9fafe05f-ac6b-4589-925d-0ff48e28fd6a #s-Image_103 {
  -ms-transform: rotate(0.0deg);
}
#s-9fafe05f-ac6b-4589-925d-0ff48e28fd6a #s-Two-line-item_28 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-9fafe05f-ac6b-4589-925d-0ff48e28fd6a #s-Image_140 {
  -ms-transform: rotate(0.0deg);
}
#s-9fafe05f-ac6b-4589-925d-0ff48e28fd6a #s-Two-line-item_41 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-9fafe05f-ac6b-4589-925d-0ff48e28fd6a #s-Two-line-item_42 {
  -ms-transform: rotate(0.0deg);
}
#s-9fafe05f-ac6b-4589-925d-0ff48e28fd6a #s-Two-line-item_44 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-9fafe05f-ac6b-4589-925d-0ff48e28fd6a #s-Image_22 {
  -ms-transform: rotate(0.0deg);
}
#s-9fafe05f-ac6b-4589-925d-0ff48e28fd6a #s-Black-cover {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=24);
  filter: alpha(opacity=24);
  -ms-transform: rotate(0.0deg);
}
#s-9fafe05f-ac6b-4589-925d-0ff48e28fd6a #s-Bg {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  filter: alpha(opacity=75);
  -ms-transform: rotate(0.0deg);
}
#s-9fafe05f-ac6b-4589-925d-0ff48e28fd6a #s-Text {
  -ms-transform: rotate(0.0deg);
}
#s-9fafe05f-ac6b-4589-925d-0ff48e28fd6a #s-menu {
  -ms-transform: rotate(0.0deg);
}
#s-9fafe05f-ac6b-4589-925d-0ff48e28fd6a #s-more-vertical {
  -ms-transform: rotate(0.0deg);
}
#s-9fafe05f-ac6b-4589-925d-0ff48e28fd6a #s-Search {
  -ms-transform: rotate(0.0deg);
}
#s-9fafe05f-ac6b-4589-925d-0ff48e28fd6a #s-Share {
  -ms-transform: rotate(0.0deg);
}
#s-9fafe05f-ac6b-4589-925d-0ff48e28fd6a #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-9fafe05f-ac6b-4589-925d-0ff48e28fd6a #s-hour {
  -ms-transform: rotate(0.0deg);
}
#s-9fafe05f-ac6b-4589-925d-0ff48e28fd6a #s-signals {
  -ms-transform: rotate(0.0deg);
}
#s-9fafe05f-ac6b-4589-925d-0ff48e28fd6a #s-Text_taxi {
  -ms-transform: rotate(0.0deg);
}
#s-9fafe05f-ac6b-4589-925d-0ff48e28fd6a #s-Square_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9fafe05f-ac6b-4589-925d-0ff48e28fd6a #s-Circle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9fafe05f-ac6b-4589-925d-0ff48e28fd6a #s-Triangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9fafe05f-ac6b-4589-925d-0ff48e28fd6a #s-img_polizia {
  -ms-transform: rotate(0.0deg);
}
#s-9fafe05f-ac6b-4589-925d-0ff48e28fd6a #s-Nome_citta {
  -ms-transform: rotate(0.0deg);
}
#s-9fafe05f-ac6b-4589-925d-0ff48e28fd6a #s-info_utili {
  -ms-transform: rotate(0.0deg);
}
#s-9fafe05f-ac6b-4589-925d-0ff48e28fd6a #s-img_ospedale {
  -ms-transform: rotate(0.0deg);
}
#s-9fafe05f-ac6b-4589-925d-0ff48e28fd6a #s-img_pompieri {
  -ms-transform: rotate(0.0deg);
}
#s-9fafe05f-ac6b-4589-925d-0ff48e28fd6a #s-img_trasporti {
  -ms-transform: rotate(0.0deg);
}
#s-9fafe05f-ac6b-4589-925d-0ff48e28fd6a #s-img_taxi {
  -ms-transform: rotate(0.0deg);
}
#s-9fafe05f-ac6b-4589-925d-0ff48e28fd6a #s-Text_POLIZIA {
  -ms-transform: rotate(0.0deg);
}
#s-9fafe05f-ac6b-4589-925d-0ff48e28fd6a #s-Text_num_polizia {
  -ms-transform: rotate(0.0deg);
}
#s-9fafe05f-ac6b-4589-925d-0ff48e28fd6a #s-Text_ospedale {
  -ms-transform: rotate(0.0deg);
}
#s-9fafe05f-ac6b-4589-925d-0ff48e28fd6a #s-Text_num_ospedale {
  -ms-transform: rotate(0.0deg);
}
#s-9fafe05f-ac6b-4589-925d-0ff48e28fd6a #s-Text_pompieri {
  -ms-transform: rotate(0.0deg);
}
#s-9fafe05f-ac6b-4589-925d-0ff48e28fd6a #s-Text_num_pompieri {
  -ms-transform: rotate(0.0deg);
}
#s-9fafe05f-ac6b-4589-925d-0ff48e28fd6a #s-Text_trasporti {
  -ms-transform: rotate(0.0deg);
}
#s-9fafe05f-ac6b-4589-925d-0ff48e28fd6a #s-Text_taxi_1 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-9fafe05f-ac6b-4589-925d-0ff48e28fd6a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}