#s-a0182407-d570-4054-9cc3-f0a1efcd8279 > #backgroundBox {
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: right;
  background-position-y: bottom;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  position: absolute;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 > #alignmentBox {
  position: relative;
  max-width: 360px;
  max-height: 640px;
  width: 100%;
  height: 100%;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Side-drawer {
  position: absolute;
  width: 364px;
  height: 640px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-BgWhite > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  background-attachment: scroll;
  background-size: cover;
  background-image: url('../../images/1134d49c-2d1a-492b-b33c-1ad46a23a83c.jpg');
  box-shadow: none;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-BgWhite {
  position: absolute;
  width: 0px;
  height: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Arial',Arial;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-BgWhite > .clipping, #s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-BgWhite > .paddingLayer {
  height: 95px;
  width: 101px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-BgWhite .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-BgWhite span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-BgWhite span#rtr-s-BgWhite_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Horizontal_softkeys {
  position: absolute;
  width: 360px;
  height: 48px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Softkeys-bg > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Softkeys-bg {
  position: absolute;
  width: 0px;
  height: 48px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Softkeys-bg > .clipping, #s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Softkeys-bg > .paddingLayer {
  height: 48px;
  width: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Softkeys-bg .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Softkeys-bg span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Softkeys-bg span#rtr-s-Softkeys-bg_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Square > svg {
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Square {
  position: absolute;
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Square > img, #s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Square > svg {
  height: 15px;
  width: 15px;
  box-shadow: none;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Circle > svg {
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Circle {
  position: absolute;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Circle > img, #s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Circle > svg {
  height: 18px;
  width: 18px;
  box-shadow: none;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Triangle > svg {
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Triangle {
  position: absolute;
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Triangle > img, #s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Triangle > svg {
  height: 15px;
  width: 15px;
  box-shadow: none;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-side-drawer-dialog {
  position: absolute;
  z-index: 100;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Panel_7 {
  width: 305px;
  height: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Panel_7 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Panel_7 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Panel_7 > .layoutWrapper {
  left: 1px;
  top: 1px;
  width: 303px;
  height: 98px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Panel_7 .verticalalign {
  vertical-align: top;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-side-drawer-header_1 {
  width: 306px;
  height: 175px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Rectangle_115 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  box-shadow: none;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Rectangle_115 {
  position: absolute;
  width: 306px;
  height: 175px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Rectangle_115 > .clipping, #s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Rectangle_115 > .paddingLayer {
  height: 174px;
  width: 306px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Rectangle_115 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Rectangle_115 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Rectangle_115 span#rtr-s-Rectangle_115_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #shapewrapper-s-Ellipse_1 > .shapert-clipping {
  width: 70px;
  height: 70px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #shapewrapper-s-Ellipse_1 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 22px;
  height: 10px;
  position: absolute;
  overflow: hidden;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #shapewrapper-s-Ellipse_1 .content {
  text-shadow: none;
  width: 22px;
  height: 10px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #shapewrapper-s-Ellipse_1 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #shapewrapper-s-Ellipse_1 {
  position: absolute;
  width: 70px;
  height: 70px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Ellipse_1 {
  width: 22px;
  height: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  background-attachment: scroll;
  background-size: cover;
  background-image: url('../../images/167c053e-8241-4094-94ac-0fead2d30b32.svg');
  box-shadow: none;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #shapewrapper-s-Ellipse_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-drop-down > svg {
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-drop-down {
  position: absolute;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-drop-down > img, #s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-drop-down > svg {
  height: 26px;
  width: 26px;
  box-shadow: none;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Label_54 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Label_54 {
  position: absolute;
  width: 244px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Label_54 > .clipping, #s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Label_54 > .paddingLayer {
  height: 24px;
  width: 244px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Label_54 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Label_54 span {
  color: #7F8383;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Label_54 span#rtr-s-Label_54_0 {
  color: #7F8383;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Label_54 span#rtr-s-Label_54_1 {
  color: #7F8383;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Label_55 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Label_55 {
  position: absolute;
  width: 237px;
  height: 33px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 15.0pt;
  font-family: 'Roboto-Medium',Arial;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Label_55 > .clipping, #s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Label_55 > .paddingLayer {
  height: 33px;
  width: 237px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Label_55 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Label_55 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 15.0pt;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Label_55 span#rtr-s-Label_55_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Bg_status_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Bg_status_1 {
  position: absolute;
  width: 0px;
  height: 20px;
  opacity: 0.15;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Bg_status_1 > .clipping, #s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Bg_status_1 > .paddingLayer {
  height: 20px;
  width: 92px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 8px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Bg_status_1 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Bg_status_1 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Bg_status_1 span#rtr-s-Bg_status_1_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Share-palette_17 {
  width: 306px;
  height: 46px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Two-line-item_35 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Two-line-item_35 {
  position: absolute;
  width: 306px;
  height: 46px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 26px;
  font-size: 11.0pt;
  font-family: 'Roboto-Medium',Arial;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Two-line-item_35 > .clipping, #s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Two-line-item_35 > .paddingLayer {
  height: 36px;
  width: 233px;
  padding-top: 10px;
  padding-bottom: 0px;
  padding-left: 73px;
  padding-right: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Two-line-item_35 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Two-line-item_35 span {
  color: #55585A;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 11.0pt;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Two-line-item_35 span#rtr-s-Two-line-item_35_0 {
  color: #55585A;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Image_75 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Image_75 > img, #s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Image_75 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Share-palette_2 {
  width: 306px;
  height: 46px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Two-line-item_12 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Two-line-item_12 {
  position: absolute;
  width: 306px;
  height: 46px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 26px;
  font-size: 11.0pt;
  font-family: 'Roboto-Medium',Arial;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Two-line-item_12 > .clipping, #s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Two-line-item_12 > .paddingLayer {
  height: 36px;
  width: 233px;
  padding-top: 10px;
  padding-bottom: 0px;
  padding-left: 73px;
  padding-right: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Two-line-item_12 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Two-line-item_12 span {
  color: #55585A;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 11.0pt;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Two-line-item_12 span#rtr-s-Two-line-item_12_0 {
  color: #55585A;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Image_103 > svg {
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Image_103 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Image_103 > img, #s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Image_103 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Share-palette_15 {
  width: 306px;
  height: 46px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Two-line-item_28 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Two-line-item_28 {
  position: absolute;
  width: 306px;
  height: 46px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 26px;
  font-size: 11.0pt;
  font-family: 'Roboto-Medium',Arial;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Two-line-item_28 > .clipping, #s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Two-line-item_28 > .paddingLayer {
  height: 36px;
  width: 233px;
  padding-top: 10px;
  padding-bottom: 0px;
  padding-left: 73px;
  padding-right: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Two-line-item_28 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Two-line-item_28 span {
  color: #55585A;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 11.0pt;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Two-line-item_28 span#rtr-s-Two-line-item_28_0 {
  color: #55585A;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Image_140 > svg {
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Image_140 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Image_140 > img, #s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Image_140 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Two-line-item_41 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Two-line-item_41 {
  width: 306px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 26px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Two-line-item_41 > .clipping, #s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Two-line-item_41 > .paddingLayer {
  height: 7px;
  width: 206px;
  padding-top: 12px;
  padding-bottom: 1px;
  padding-left: 100px;
  padding-right: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Two-line-item_41 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Two-line-item_41 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Two-line-item_41 span#rtr-s-Two-line-item_41_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Two-line-item_42 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Two-line-item_42 {
  width: 306px;
  height: 13px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 26px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Two-line-item_42 > .clipping, #s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Two-line-item_42 > .paddingLayer {
  height: 1px;
  width: 206px;
  padding-top: 12px;
  padding-bottom: 0px;
  padding-left: 100px;
  padding-right: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Two-line-item_42 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Two-line-item_42 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Two-line-item_42 span#rtr-s-Two-line-item_42_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Share-palette_18 {
  width: 306px;
  height: 46px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Two-line-item_44 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Two-line-item_44 {
  position: absolute;
  width: 306px;
  height: 46px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 26px;
  font-size: 11.0pt;
  font-family: 'Roboto-Medium',Arial;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Two-line-item_44 > .clipping, #s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Two-line-item_44 > .paddingLayer {
  height: 36px;
  width: 233px;
  padding-top: 10px;
  padding-bottom: 0px;
  padding-left: 73px;
  padding-right: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Two-line-item_44 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Two-line-item_44 span {
  color: #55585A;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 11.0pt;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Two-line-item_44 span#rtr-s-Two-line-item_44_0 {
  color: #55585A;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Image_22 > svg {
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Image_22 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Image_22 > img, #s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Image_22 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Black-cover > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #303030;
  background-image: none;
  box-shadow: none;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Black-cover {
  position: absolute;
  width: 0px;
  height: 0px;
  opacity: 0.24;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  z-index: 100;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Arial',Arial;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Black-cover > .clipping, #s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Black-cover > .paddingLayer {
  height: 100px;
  width: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Black-cover .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Black-cover span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Black-cover span#rtr-s-Black-cover_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Bg > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #434343;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: -3px 0px 4px 0px #A0A0A0;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Bg {
  position: absolute;
  width: 0px;
  height: 76px;
  opacity: 0.75;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Bg > .clipping, #s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Bg > .paddingLayer {
  height: 38px;
  width: 27px;
  padding-top: 38px;
  padding-bottom: 0px;
  padding-left: 73px;
  padding-right: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Bg .valign {
  vertical-align: top;
  text-align: left;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Bg span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Bg span#rtr-s-Bg_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Text > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Text {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Text > .clipping, #s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Text > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Text .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Text span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Text span#rtr-s-Text_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Text span#rtr-s-Text_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-menu > svg {
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-menu {
  position: absolute;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-menu > img, #s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-menu > svg {
  height: 26px;
  width: 26px;
  box-shadow: none;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-more-vertical > svg {
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-more-vertical {
  position: absolute;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-more-vertical > img, #s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-more-vertical > svg {
  height: 26px;
  width: 26px;
  box-shadow: none;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Search > svg {
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Search {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Search > img, #s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Search > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Share > svg {
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Share {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Share > img, #s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Share > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Status-bar {
  position: absolute;
  width: 360px;
  height: 20px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Bg_status > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Bg_status {
  position: absolute;
  width: 0px;
  height: 20px;
  opacity: 0.15;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Bg_status > .clipping, #s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Bg_status > .paddingLayer {
  height: 20px;
  width: 92px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 8px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Bg_status .valign {
  vertical-align: middle;
  text-align: right;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Bg_status span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Bg_status span#rtr-s-Bg_status_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-hour > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-hour {
  position: absolute;
  width: 46px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-hour > .clipping, #s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-hour > .paddingLayer {
  height: 20px;
  width: 38px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 8px;
  padding-right: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-hour .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-hour span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-hour span#rtr-s-hour_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-signals {
  position: absolute;
  width: 61px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-signals > img, #s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-signals > svg {
  height: 20px;
  width: 61px;
  box-shadow: none;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Hotspot_2 {
  position: absolute;
  width: 0px;
  height: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Hotspot_2 > img, #s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Hotspot_2 > svg {
  height: 7px;
  width: 28px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Text_taxi > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Text_taxi {
  position: absolute;
  width: 0px;
  height: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Text_taxi > .clipping, #s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Text_taxi > .paddingLayer {
  height: 3px;
  width: 25px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Text_taxi .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Text_taxi span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Text_taxi span#rtr-s-Text_taxi_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Square_1 > svg {
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Square_1 {
  position: absolute;
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Square_1 > img, #s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Square_1 > svg {
  height: 15px;
  width: 15px;
  box-shadow: none;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Circle_1 > svg {
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Circle_1 {
  position: absolute;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Circle_1 > img, #s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Circle_1 > svg {
  height: 18px;
  width: 18px;
  box-shadow: none;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Triangle_1 > svg {
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Triangle_1 {
  position: absolute;
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Triangle_1 > img, #s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Triangle_1 > svg {
  height: 15px;
  width: 15px;
  box-shadow: none;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-img_polizia {
  position: absolute;
  width: 0px;
  height: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-img_polizia > img, #s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-img_polizia > svg {
  height: 10px;
  width: 18px;
  box-shadow: none;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Nome_citta > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Nome_citta {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Nome_citta > .clipping, #s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Nome_citta > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Nome_citta .valign {
  vertical-align: top;
  text-align: left;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Nome_citta span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Nome_citta span#rtr-s-Nome_citta_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-info_utili > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-info_utili {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-info_utili > .clipping, #s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-info_utili > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-info_utili .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-info_utili span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-info_utili span#rtr-s-info_utili_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-img_ospedale {
  position: absolute;
  width: 0px;
  height: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-img_ospedale > img, #s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-img_ospedale > svg {
  height: 10px;
  width: 18px;
  box-shadow: none;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-img_pompieri {
  position: absolute;
  width: 0px;
  height: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-img_pompieri > img, #s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-img_pompieri > svg {
  height: 10px;
  width: 18px;
  box-shadow: none;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-img_trasporti {
  position: absolute;
  width: 0px;
  height: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-img_trasporti > img, #s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-img_trasporti > svg {
  height: 10px;
  width: 18px;
  box-shadow: none;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-img_taxi {
  position: absolute;
  width: 0px;
  height: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-img_taxi > img, #s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-img_taxi > svg {
  height: 10px;
  width: 18px;
  box-shadow: none;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Text_POLIZIA > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Text_POLIZIA {
  position: absolute;
  width: 0px;
  height: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Text_POLIZIA > .clipping, #s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Text_POLIZIA > .paddingLayer {
  height: 3px;
  width: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Text_POLIZIA .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Text_POLIZIA span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Text_POLIZIA span#rtr-s-Text_POLIZIA_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Text_num_polizia > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Text_num_polizia {
  position: absolute;
  width: 0px;
  height: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Text_num_polizia > .clipping, #s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Text_num_polizia > .paddingLayer {
  height: 4px;
  width: 8px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Text_num_polizia .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Text_num_polizia span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Text_num_polizia span#rtr-s-Text_num_polizia_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Text_ospedale > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Text_ospedale {
  position: absolute;
  width: 0px;
  height: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Text_ospedale > .clipping, #s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Text_ospedale > .paddingLayer {
  height: 3px;
  width: 21px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Text_ospedale .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Text_ospedale span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Text_ospedale span#rtr-s-Text_ospedale_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Text_num_ospedale > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Text_num_ospedale {
  position: absolute;
  width: 0px;
  height: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Text_num_ospedale > .clipping, #s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Text_num_ospedale > .paddingLayer {
  height: 4px;
  width: 9px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Text_num_ospedale .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Text_num_ospedale span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Text_num_ospedale span#rtr-s-Text_num_ospedale_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Text_pompieri > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Text_pompieri {
  position: absolute;
  width: 0px;
  height: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Text_pompieri > .clipping, #s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Text_pompieri > .paddingLayer {
  height: 3px;
  width: 35px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Text_pompieri .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Text_pompieri span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Text_pompieri span#rtr-s-Text_pompieri_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Text_num_pompieri > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Text_num_pompieri {
  position: absolute;
  width: 0px;
  height: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Text_num_pompieri > .clipping, #s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Text_num_pompieri > .paddingLayer {
  height: 3px;
  width: 9px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Text_num_pompieri .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Text_num_pompieri span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Text_num_pompieri span#rtr-s-Text_num_pompieri_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Text_trasporti > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Text_trasporti {
  position: absolute;
  width: 0px;
  height: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Text_trasporti > .clipping, #s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Text_trasporti > .paddingLayer {
  height: 3px;
  width: 25px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Text_trasporti .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Text_trasporti span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Text_trasporti span#rtr-s-Text_trasporti_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Text_taxi_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Text_taxi_1 {
  position: absolute;
  width: 0px;
  height: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Text_taxi_1 > .clipping, #s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Text_taxi_1 > .paddingLayer {
  height: 3px;
  width: 25px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Text_taxi_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Text_taxi_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Text_taxi_1 span#rtr-s-Text_taxi_1_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Hotspot_1 {
  position: absolute;
  width: 0px;
  height: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Hotspot_1 > img, #s-a0182407-d570-4054-9cc3-f0a1efcd8279 #s-Hotspot_1 > svg {
  height: 7px;
  width: 25px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-a0182407-d570-4054-9cc3-f0a1efcd8279 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}