#s-e18bd362-0003-424a-b920-7ded66029317 #s-BgWhite {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75) ;
  filter: alpha(opacity=75) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e18bd362-0003-424a-b920-7ded66029317 #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e18bd362-0003-424a-b920-7ded66029317 #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e18bd362-0003-424a-b920-7ded66029317 #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e18bd362-0003-424a-b920-7ded66029317 #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e18bd362-0003-424a-b920-7ded66029317 #s-Black-cover {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=24) ;
  filter: alpha(opacity=24) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e18bd362-0003-424a-b920-7ded66029317 #s-Rectangle_115 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e18bd362-0003-424a-b920-7ded66029317 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e18bd362-0003-424a-b920-7ded66029317 #s-drop-down {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e18bd362-0003-424a-b920-7ded66029317 #s-Label_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e18bd362-0003-424a-b920-7ded66029317 #s-Label_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e18bd362-0003-424a-b920-7ded66029317 #s-Bg_status_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e18bd362-0003-424a-b920-7ded66029317 #s-Two-line-item_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e18bd362-0003-424a-b920-7ded66029317 #s-Image_75 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e18bd362-0003-424a-b920-7ded66029317 #s-Two-line-item_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e18bd362-0003-424a-b920-7ded66029317 #s-Image_103 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e18bd362-0003-424a-b920-7ded66029317 #s-Two-line-item_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e18bd362-0003-424a-b920-7ded66029317 #s-Image_140 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e18bd362-0003-424a-b920-7ded66029317 #s-Two-line-item_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e18bd362-0003-424a-b920-7ded66029317 #s-Two-line-item_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e18bd362-0003-424a-b920-7ded66029317 #s-Two-line-item_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e18bd362-0003-424a-b920-7ded66029317 #s-Image_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e18bd362-0003-424a-b920-7ded66029317 #s-Bg {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75) ;
  filter: alpha(opacity=75) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e18bd362-0003-424a-b920-7ded66029317 #s-Text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e18bd362-0003-424a-b920-7ded66029317 #s-menu {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e18bd362-0003-424a-b920-7ded66029317 #s-more-vertical {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e18bd362-0003-424a-b920-7ded66029317 #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e18bd362-0003-424a-b920-7ded66029317 #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e18bd362-0003-424a-b920-7ded66029317 #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e18bd362-0003-424a-b920-7ded66029317 #s-Milano {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=64) ;
  filter: alpha(opacity=64) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e18bd362-0003-424a-b920-7ded66029317 #s-Roma {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e18bd362-0003-424a-b920-7ded66029317 #s-Taranto {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e18bd362-0003-424a-b920-7ded66029317 #s-Text_frequenti {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e18bd362-0003-424a-b920-7ded66029317 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e18bd362-0003-424a-b920-7ded66029317 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e18bd362-0003-424a-b920-7ded66029317 #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e18bd362-0003-424a-b920-7ded66029317 #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-e18bd362-0003-424a-b920-7ded66029317 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}