#s-e6467407-ac15-45c6-b65b-f4bf9975bf35 #s-BgWhite {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6467407-ac15-45c6-b65b-f4bf9975bf35 #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6467407-ac15-45c6-b65b-f4bf9975bf35 #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6467407-ac15-45c6-b65b-f4bf9975bf35 #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6467407-ac15-45c6-b65b-f4bf9975bf35 #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6467407-ac15-45c6-b65b-f4bf9975bf35 #s-Rectangle_115 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6467407-ac15-45c6-b65b-f4bf9975bf35 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6467407-ac15-45c6-b65b-f4bf9975bf35 #s-drop-down {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6467407-ac15-45c6-b65b-f4bf9975bf35 #s-Label_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6467407-ac15-45c6-b65b-f4bf9975bf35 #s-Label_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6467407-ac15-45c6-b65b-f4bf9975bf35 #s-Bg_status_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6467407-ac15-45c6-b65b-f4bf9975bf35 #s-Two-line-item_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6467407-ac15-45c6-b65b-f4bf9975bf35 #s-Image_75 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6467407-ac15-45c6-b65b-f4bf9975bf35 #s-Two-line-item_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6467407-ac15-45c6-b65b-f4bf9975bf35 #s-Image_103 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6467407-ac15-45c6-b65b-f4bf9975bf35 #s-Two-line-item_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6467407-ac15-45c6-b65b-f4bf9975bf35 #s-Image_140 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6467407-ac15-45c6-b65b-f4bf9975bf35 #s-Two-line-item_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6467407-ac15-45c6-b65b-f4bf9975bf35 #s-Two-line-item_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6467407-ac15-45c6-b65b-f4bf9975bf35 #s-Two-line-item_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6467407-ac15-45c6-b65b-f4bf9975bf35 #s-Image_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6467407-ac15-45c6-b65b-f4bf9975bf35 #s-Black-cover {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=24) ;
  filter: alpha(opacity=24) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6467407-ac15-45c6-b65b-f4bf9975bf35 #s-Bg {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75) ;
  filter: alpha(opacity=75) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6467407-ac15-45c6-b65b-f4bf9975bf35 #s-Text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6467407-ac15-45c6-b65b-f4bf9975bf35 #s-menu {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6467407-ac15-45c6-b65b-f4bf9975bf35 #s-more-vertical {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6467407-ac15-45c6-b65b-f4bf9975bf35 #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6467407-ac15-45c6-b65b-f4bf9975bf35 #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6467407-ac15-45c6-b65b-f4bf9975bf35 #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-e6467407-ac15-45c6-b65b-f4bf9975bf35 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}